### Getting started with Kangas

##### Installing libraries

In [1]:
%pip install kangas

Defaulting to user installation because normal site-packages is not writeable
Collecting kangas
  Downloading kangas-1.3.3-py3-none-any.whl (12.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.2/12.2 MB 1.4 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy in /home/felix/.local/lib/python3.10/site-packages (from kangas) (1.23.5)
Requirement already satisfied: tornado in /home/felix/.local/lib/python3.10/site-packages (from kangas) (6.2)
Collecting nodejs-bin==16.15.1a4
  Downloading nodejs_bin-16.15.1a4-py3-none-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (34.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.5/34.5 MB 1.7 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: matplotlib in /home/felix/.local/lib/python3.10/site-packages (from kangas) (3.6.2)
Requirement already satisfied: Pillow in /usr/lib/python3/dist-packages (from kangas) (9.0.1)
Requirement already satisfied: requests in /usr/lib/python3/dist-packages (from kangas) (2.25.1)
Requirement already satisfied: psutil in /home/felix/.local/lib/python3.10/site-packages (from kangas) (5.9.4)
Collecting astor
  Downloading astor-0.8.1-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: scipy in /usr/lib/python3/dist-packages (from kangas) (1.8.0)
Collecting tqdm
  Downloading tqdm-4.64.1-py2.py3-none-any.whl (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.5/78.5 KB 3.0 MB/s eta 0:00:00
Requirement already satisfied: contourpy>=1.0.1 in /home/felix/.local/lib/python3.10/site-packages (from matplotlib->kangas) (1.0.6)
Requirement already satisfied: cycler>=0.10 in /home/felix/.local/lib/python3.10/site-packages (from matplotlib->kangas) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/felix/.local/lib/python3.10/site-packages (from matplotlib->kangas) (4.38.0)
Requirement already satisfied: packaging>=20.0 in /home/felix/.local/lib/python3.10/site-packages (from matplotlib->kangas) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/lib/python3/dist-packages (from matplotlib->kangas) (2.4.7)
Requirement already satisfied: python-dateutil>=2.7 in /home/felix/.local/lib/python3.10/site-packages (from matplotlib->kangas) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/felix/.local/lib/python3.10/site-packages (from matplotlib->kangas) (1.4.4)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7->matplotlib->kangas) (1.16.0)
Installing collected packages: tqdm, nodejs-bin, astor, kangas
Successfully installed astor-0.8.1 kangas-1.3.3 nodejs-bin-16.15.1a4 tqdm-4.64.1
Note: you may need to restart the kernel to use updated packages.

##### Importing required libraries

In [3]:
import kangas as kg
print(f'Kangas installed version is: {kg.__version__}')
import pandas as pd
print(f'pandas installed version is: {pd.__version__}')

Kangas installed version is: 1.3.3
pandas installed version is: 1.5.2

##### Constructing DataGrids from scratch

In [16]:
##Calling the DataGrid class from kangas
dg = kg.DataGrid(name="test_datagrid")
dg.append(["hello, world", 3.5, None, 2, "2023/05/13"])
dg.append(["foo", 6.2, None, 7, "2022/10/15"])
dg.append(["bar", 1.2, None, 8, "2023/07/31"])

##### Showing the columns in the DataGrid

In [17]:
dg.head()

##### Adding more data to DataGrids

In [18]:
dg.append([None, "foo", 62, 0.7, "2022/10/15"])

Invalid type for column 'B': value was 'foo', but should have been type 'FLOAT'

In [19]:
dg.append(["foo", 62, None, 0.7, "2022/10/15"])

In [20]:
dg.head()

##### Appending new columns to the DataGrid

In [21]:
dg.append_columns(
    {
     "F": [150,2000,0.8,1,45],
     "G": [750,1500,0.5,7,22],
    }
)

In [22]:
dg.head()

In [30]:
dg.info()

DataGrid (on disk)
    Name   : test_datagrid
    Rows   : 5
    Columns: 7
#   Column                Non-Null Count DataGrid Type
--- -------------------- --------------- --------------------
1   A                                  4 TEXT
2   B                                  5 TEXT
3   C                                  1 INTEGER
4   D                                  5 FLOAT
5   E                                  5 DATETIME
6   F                                  5 FLOAT
7   G                                  5 FLOAT

In [31]:
dg.nrows

5

In [32]:
dg.ncols

8

In [33]:
dg.shape

(5, 8)

In [24]:
dg.save()

Saving settings to 'test_datagrid.datagrid'...

##### Visualizing the data in our DataGrid

In [23]:
dg.show()

/home/felix/.local/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1878: RuntimeWarning: Degrees of freedom <= 0 for slice.
  var = nanvar(a, axis=axis, dtype=dtype, out=out, ddof=ddof,