In [ ]:
# installing libraries
!pip install gspread==3.6.0

In [7]:
#Importing required libraries
import pandas as pd
import numpy as np
import gspread
from gspread_dataframe import set_with_dataframe

drive_path = 'content/drive/MyDrive/colab_notebooks/data'
sample_path = 'sample_data/'

# Sets the value for the service account in the credentials file .json
gc = gspread.service_account(filename=f'drive/MyDrive/colab_notebooks/data/gcp-key-API.json')
sh = gc.open_by_key('1bBElf5zCAbocg94QLsWNgr4-_sibscpcRwKZ5xnxHqg')

In [2]:
#mounts your personal drive on this notebook
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Downloading data to drive

The following lines of code downloads the data that we will use in this notebook to our /content/ folder in google drive, by using the linux command [wget](https://shapeshed.com/unix-wget/#:~:text=What%20is%20the%20wget%20command,for%20downloads%20and%20viewing%20headers.), directly from the [UCI Machine Learning repository](https://archive.ics.uci.edu/ml/index.php)

In [3]:
!wget -c https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names

--2022-06-22 19:14:11--  https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5229 (5.1K) [application/x-httpd-php]
Saving to: ‘adult.names’

adult.names         100%[===================>]   5.11K  --.-KB/s    in 0s

2022-06-22 19:14:12 (109 MB/s) - ‘adult.names’ saved [5229/5229]

In [8]:
!wget -c https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data

--2022-06-22 19:18:39--  https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3974305 (3.8M) [application/x-httpd-php]
Saving to: ‘adult.data’

adult.data          100%[===================>]   3.79M  7.37MB/s    in 0.5s

2022-06-22 19:18:40 (7.37 MB/s) - ‘adult.data’ saved [3974305/3974305]

#### Reading the metadata file

In [12]:
!cat adult.names

| This data was extracted from the census bureau database found at
| http://www.census.gov/ftp/pub/DES/www/welcome.html
| Donor: Ronny Kohavi and Barry Becker,
|        Data Mining and Visualization
|        Silicon Graphics.
|        e-mail: ronnyk@sgi.com for questions.
| Split into train-test using MLC++ GenCVFiles (2/3, 1/3 random).
| 48842 instances, mix of continuous and discrete    (train=32561, test=16281)
| 45222 if instances with unknown values are removed (train=30162, test=15060)
| Duplicate or conflicting instances : 6
| Class probabilities for adult.all file
| Probability for the label '>50K'  : 23.93% / 24.78% (without unknowns)
| Probability for the label '<=50K' : 76.07% / 75.22% (without unknowns)
|
| Extraction was done by Barry Becker from the 1994 Census database.  A set of
|   reasonably clean records was extracted using the following conditions:
|   ((AAGE>16) && (AGI>100) && (AFNLWGT>1)&& (HRSWK>0))
|
| Prediction task is to determine whether a person makes over 50K
| a year.
|
| First cited in:
| @inproceedings{kohavi-nbtree,
|    author={Ron Kohavi},
|    title={Scaling Up the Accuracy of Naive-Bayes Classifiers: a
|           Decision-Tree Hybrid},
|    booktitle={Proceedings of the Second International Conference on
|               Knowledge Discovery and Data Mining},
|    year = 1996,
|    pages={to appear}}
|
| Error Accuracy reported as follows, after removal of unknowns from
|    train/test sets):
|    C4.5       : 84.46+-0.30
|    Naive-Bayes: 83.88+-0.30
|    NBTree     : 85.90+-0.28
|
|
| Following algorithms were later run with the following error rates,
|    all after removal of unknowns and using the original train/test split.
|    All these numbers are straight runs using MLC++ with default values.
|
|    Algorithm               Error
| -- ----------------        -----
| 1  C4.5                    15.54
| 2  C4.5-auto               14.46
| 3  C4.5 rules              14.94
| 4  Voted ID3 (0.6)         15.64
| 5  Voted ID3 (0.8)         16.47
| 6  T2                      16.84
| 7  1R                      19.54
| 8  NBTree                  14.10
| 9  CN2                     16.00
| 10 HOODG                   14.82
| 11 FSS Naive Bayes         14.05
| 12 IDTM (Decision table)   14.46
| 13 Naive-Bayes             16.12
| 14 Nearest-neighbor (1)    21.42
| 15 Nearest-neighbor (3)    20.35
| 16 OC1                     15.04
| 17 Pebls                   Crashed.  Unknown why (bounds WERE increased)
|
| Conversion of original data as follows:
| 1. Discretized agrossincome into two ranges with threshold 50,000.
| 2. Convert U.S. to US to avoid periods.
| 3. Convert Unknown to "?"
| 4. Run MLC++ GenCVFiles to generate data,test.
|
| Description of fnlwgt (final weight)
|
| The weights on the CPS files are controlled to independent estimates of the
| civilian noninstitutional population of the US.  These are prepared monthly
| for us by Population Division here at the Census Bureau.  We use 3 sets of
| controls.
|  These are:
|          1.  A single cell estimate of the population 16+ for each state.
|          2.  Controls for Hispanic Origin by age and sex.
|          3.  Controls by Race, age and sex.
|
| We use all three sets of controls in our weighting program and "rake" through
| them 6 times so that by the end we come back to all the controls we used.
|
| The term estimate refers to population totals derived from CPS by creating
| "weighted tallies" of any specified socio-economic characteristics of the
| population.
|
| People with similar demographic characteristics should have
| similar weights.  There is one important caveat to remember
| about this statement.  That is that since the CPS sample is
| actually a collection of 51 state samples, each with its own
| probability of selection, the statement only applies within
| state.


>50K, <=50K.

age: continuous.
workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
fnlwgt: continuous.
education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
education-num: continuous.
marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
sex: Female, Male.
capital-gain: continuous.
capital-loss: continuous.
hours-per-week: continuous.
native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

#### Reading data file

In [14]:
!head adult.data

39, State-gov, 77516, Bachelors, 13, Never-married, Adm-clerical, Not-in-family, White, Male, 2174, 0, 40, United-States, <=50K
50, Self-emp-not-inc, 83311, Bachelors, 13, Married-civ-spouse, Exec-managerial, Husband, White, Male, 0, 0, 13, United-States, <=50K
38, Private, 215646, HS-grad, 9, Divorced, Handlers-cleaners, Not-in-family, White, Male, 0, 0, 40, United-States, <=50K
53, Private, 234721, 11th, 7, Married-civ-spouse, Handlers-cleaners, Husband, Black, Male, 0, 0, 40, United-States, <=50K
28, Private, 338409, Bachelors, 13, Married-civ-spouse, Prof-specialty, Wife, Black, Female, 0, 0, 40, Cuba, <=50K
37, Private, 284582, Masters, 14, Married-civ-spouse, Exec-managerial, Wife, White, Female, 0, 0, 40, United-States, <=50K
49, Private, 160187, 9th, 5, Married-spouse-absent, Other-service, Not-in-family, Black, Female, 0, 0, 16, Jamaica, <=50K
52, Self-emp-not-inc, 209642, HS-grad, 9, Married-civ-spouse, Exec-managerial, Husband, White, Male, 0, 0, 45, United-States, >50K
31, Private, 45781, Masters, 14, Never-married, Prof-specialty, Not-in-family, White, Female, 14084, 0, 50, United-States, >50K
42, Private, 159449, Bachelors, 13, Married-civ-spouse, Exec-managerial, Husband, White, Male, 5178, 0, 40, United-States, >50K

In [13]:
#Creating header for dataframe
cols = ['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex',
        'capital-gain','capital-loss','hours-per-week','native-country','earning_potential']

#### Storing dataset in pandas dataframe

In [9]:
df = pd.read_csv('/content/adult.data',names = cols)
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,earning_potential
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                32561 non-null  int64
 1   workclass          32561 non-null  object
 2   fnlwgt             32561 non-null  int64
 3   education          32561 non-null  object
 4   education-num      32561 non-null  int64
 5   marital-status     32561 non-null  object
 6   occupation         32561 non-null  object
 7   relationship       32561 non-null  object
 8   race               32561 non-null  object
 9   sex                32561 non-null  object
 10  capital-gain       32561 non-null  int64
 11  capital-loss       32561 non-null  int64
 12  hours-per-week     32561 non-null  int64
 13  native-country     32561 non-null  object
 14  earning_potential  32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

#### Select rows based on multiple conditions

In [ ]:
#Using dataframe method
df1 = df[(df.Year_of_Birth >=2012) & (df.Gender == 'FEMALE')] 
df1.head()

      Year_of_Birth  Gender       Ethnicity Child's_First_Name  Count  Rank
3900           2012  FEMALE  ASIAN AND PACI               ABBY     11    44
3901           2012  FEMALE  ASIAN AND PACI            ABIGAIL     29    26
3902           2012  FEMALE  ASIAN AND PACI                ADA     12    43
3903           2012  FEMALE  ASIAN AND PACI              AISHA     11    44
3904           2012  FEMALE  ASIAN AND PACI          ALEXANDRA     12    43

In [ ]:
#Using query function
df2 = df.query('Year_of_Birth >= 2012 & Gender == "FEMALE"') 
df2.head()

      Year_of_Birth  Gender       Ethnicity Child's_First_Name  Count  Rank
3900           2012  FEMALE  ASIAN AND PACI               ABBY     11    44
3901           2012  FEMALE  ASIAN AND PACI            ABIGAIL     29    26
3902           2012  FEMALE  ASIAN AND PACI                ADA     12    43
3903           2012  FEMALE  ASIAN AND PACI              AISHA     11    44
3904           2012  FEMALE  ASIAN AND PACI          ALEXANDRA     12    43

In [ ]:
#Using loc function
df3 = df.loc[(df.Year_of_Birth >=2012) & (df.Gender == 'FEMALE')]
df3.head()

      Year_of_Birth  Gender       Ethnicity Child's_First_Name  Count  Rank
3900           2012  FEMALE  ASIAN AND PACI               ABBY     11    44
3901           2012  FEMALE  ASIAN AND PACI            ABIGAIL     29    26
3902           2012  FEMALE  ASIAN AND PACI                ADA     12    43
3903           2012  FEMALE  ASIAN AND PACI              AISHA     11    44
3904           2012  FEMALE  ASIAN AND PACI          ALEXANDRA     12    43

#### Select a range of rows by using loc, iloc

In [ ]:
#Selecting first 4 rows on the dataframe, starting from index 0th to 4th, using .loc method
df.loc[0:3]

   Year_of_Birth  Gender Ethnicity Child's_First_Name  Count  Rank
0           2011  FEMALE  HISPANIC          GERALDINE     13    75
1           2011  FEMALE  HISPANIC                GIA     21    67
2           2011  FEMALE  HISPANIC             GIANNA     49    42
3           2011  FEMALE  HISPANIC            GISELLE     38    51

#### Select a range of rows using iloc

In [ ]:
# Using .loc method, selects the first 3 rows of the dataframe, starting from index 0th to 2nd, 
df.iloc[0:3]

   Year_of_Birth  Gender Ethnicity Child's_First_Name  Count  Rank
0           2011  FEMALE  HISPANIC          GERALDINE     13    75
1           2011  FEMALE  HISPANIC                GIA     21    67
2           2011  FEMALE  HISPANIC             GIANNA     49    42

As you can see, there is a difference in result between using loc and iloc. The reasons for this difference are due to:

loc does not return output based on index position, but based on labels of the index.
iloc selects rows based on position in the index. It also means that iloc only works with integers.
You can refer to the example below for more reference. In this example, I will set index to column ‘name’, so that you can understand the usage and my explanation more clearly.

In [ ]:
### Slicing data on the dat

#### Slicing data of the dataframe

In [ ]:
# Slices the dataframe taking from row 6 to 12, and from column 2 to the rest of the columns in the dataframe
slice1 = df.iloc[6:12,2:]
slice1

   Ethnicity Child's_First_Name  Count  Rank
6   HISPANIC             HAILEY    126     8
7   HISPANIC              HALEY     14    74
8   HISPANIC             HANNAH     17    71
9   HISPANIC             HAYLEE     17    71
10  HISPANIC             HAYLEY     13    75
11  HISPANIC              HAZEL     10    78

#### Sources

[TDS](https://towardsdatascience.com/different-ways-to-filter-pandas-dataframe-1899eb6d4be8)

[Active State](https://www.activestate.com/resources/quick-reads/how-to-slice-a-dataframe-in-pandas/)

In [ ]:
## Filtering NA values in Dataframe
filtered_df = df[df['var2'].isnull()]

#### S